{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="span4 offset4">
  <!--     <div class="well fadein">
        <h2>Create Location</h2>
        <form>
          <input type="text" placeholder="name">
          <input type="text" placeholder="address">
          <button class="btn btn-large btn-primary">create</button>
          <a href="/locations" class="locations">View Locations</a>
        </form>
      </div> -->
    </div>
  </div>
</div>
{% endblock %}
