<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Loci</title>
  <meta name="description" content="">
  <meta name="author" content="Christopher Biscardi">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/static/css/style.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/alertify.core.css">
  <link rel="stylesheet" type="text/css" href="/static/css/alertify.default.css">
</head>
<body>
  <header>
    <div class="container">
      <div class="row">
        <div class="span12">
          <a href="/"><h1>Loci</h1></a>
        </div>
      </div>
    </div>
  </header>
  <div class="content">
  {% block body %}{% endblock %}
</div>
  <script data-main="/static/main-built" src="/static/require.js"></script>
</body>
</html>
