<div class="container">
  <div class="row">
    {{#if location}}
    <h1>{{location.name}}</h1>
    <p>{{location.address}}</p>
    <img src="">
    {{else}}
    <h1>no location found</h1>
    {{/if}}
  </div>
</div>